<div class="container bg-light topPadding pb-2">
      
<!-- This is the home page of the website -->

<header class="masthead bg-light text-center">
  <div class="container d-flex align-items-center flex-column">
    <img class="img-fluid mb-5 logo-max-width" alt="The Harmony Club of Worcester Logo" src="https://harmonyclubofworcester.org/assets/hcwLogo-b78312cdba5ec1b95f3c1ea372c49ae8bbc2f1940f53cfc3acda2312efacbc58.png">
  	<h1 class="masthead-heading text-uppercase mb-0">Harmony Club of Worcester</h1>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="https://harmonyclubofworcester.org/assets/wavingFlagAmerican-46e877879cc1df60e7f53ec5f8908192c1a33717e03360b0f00fbe2be0c12d74.gif">
    </div>
    <div class="col">
      <img class="img-fluid w-75" src="https://harmonyclubofworcester.org/assets/wavingFlagFrench-83474be93ec025b4fe7ca41558e59ce2eb5b7e6b1ab238d6d5cc5b5509a8565e.gif">
    </div>
    <div class="col">
      <img class="img-fluid" src="https://harmonyclubofworcester.org/assets/wavingFlagCanadian-1d87effd4bb24e356b9441419eeeffb2d7e1b662e55b12422e5310d5b93e4230.gif">
    </div>
  </div>
  <hr>
  <p class="fs-6 fw-bold">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at O'Connor's Restaurant in Worcester with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>

  <p class="fs-6 fw-bold">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Leicester Country Club in Leicester, MA every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
</header>

    </div>
